package templates

templ Loader(route string) {
    <div id="loader" class="flex flex-col justify-center items-center w-full h-full">
      <span
        class="loading loading-dots loading-lg"
        hx-get={route}
        hx-trigger="load"
        hx-target="#loader"
        hx-swap="outerHTML"
        >
      </span>
    </div>
}
